* {
  padding: 0;
  margin: 0;
}

/* header section */
header {
  position: relative;
  background-image: url("./image/Banner Image.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 1320px;
  margin: 10px auto;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 10px;
}

#header-content {
  position: relative;
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

#header-content p {
  font-size: 30px;
}

#header-content h1 {
  font-size: 60px;
}

/* new-year-offer section */
#new-year-offer {
  margin: 100px 0;
}

#new-year-offer-title {
  text-align: center;
}

#new-year-offer-title h1 {
  font-size: 60px;
  color: red;
  margin-bottom: 15px;
}

#new-year-offer-title p {
  font-size: 15px;
  color: red;
}
#new-year-offer-title h3 {
  font-size: 30px;
}

#new-year-offer img {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

/* midnight party section */
#midnight-party {
  position: relative; /* Needed for positioning pseudo-element */
  background-image: url("./image//Vectorrr.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 1320px;
  margin: 100px auto;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#midnight-party::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    transparent
  ); /* Adjust the colors and opacity as needed */
  z-index: 1;
}

#midnight-party-content {
  z-index: 2;
  padding: 0 150px;
}

#midnight-party-content h1 {
  font-size: 60px;
}

#midnight-party-content p {
  font-size: 20px;
}

#midnight-party-title {
  margin-bottom: 10px;
}

#midnight-party a {
  text-decoration: none;
  font-weight: 600;
  color: wheat;
  display: inline-block;
  margin-top: 20px;
}

/* date-time section */
#date-time {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  background-image: linear-gradient(
    rgba(213, 124, 124, 0.5),
    rgba(216, 169, 169, 0)
  );
  width: 1320px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 50px 0;
}

#date-time span {
  color: red;
}

#date-time button {
  background-color: red;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

/* coming soon section*/
#coming-soon {
  width: 1320px;
  display: flex;
  margin: 100px auto;
  align-items: center;
}
#coming-soon-description {
  width: 30%;
}
#coming-soon-description h4 {
  color: red;
  font-weight: 400;
}
#coming-soon-description h1 {
  font-size: 40px;
  color: red;
}
#coming-soon-description h2 {
  font-size: 40px;
  margin: 10px 0;
}
#coming-soon-description p {
  margin: 10px 0;
}
#coming-soon-img {
  width: 30%;
  margin: 0 5%;
}
#coming-soon-img img {
  border: 5px solid red;
  border-radius: 50%;
  padding: 20px;
}
